<div class="jumbotron">
  <div class="row">
    <div class="col-md-7 col-md-offset-1">
      <div class="jumbotron-text">
        <div class="background-color"> 
          <div class="container">
            <div class="title-color">
              <div class="gap"> 
                <h1>Recommend me a book!</h1>
                <br> 
                <div><a class="btn btn-warning btn-lg" href="<%= random_book_path %>">Suggest a Random Book</a></div>   
                  <div>
                  </div>
                <br>    
                <div><button class="btn btn-success btn-lg">Let me narrow my search</button></div>
                  <div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <img src="http://i.imgur.com/719iUzG.png" style="width: 140%; height: 130%">
    </div>
  </div>
</div>
